body {
  height:100vh ;
  min-height: fit-content;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../public/concept-tax-payment-optimisation-business-financeman-using-calculator-taxes-icon-technology-screenincome-tax-property-background-business-individuals-corporations-such-as-vat_162459-2031.jpg.webp");
  background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
